<h1 class="mb-4">Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary">New Place</a>
</p>

<div class="list-group">
  <% for place in @places %>
    <a href="/places/<%= place["id"] %>" class="list-group-item list-group-item-action">
      <%= place["name"] %>
    </a>
  <% end %>
</div>